@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

.click {
    transition: all 300ms ease;
    cursor: pointer;
}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.9);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    padding: 50px 0;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

.text_purple {
    color: #6030b1;
}

section:nth-child(even) {
    background-color: #f8f8f8;
}

.section_title {
    margin-bottom: 20px;
    font-size: 24px;
}

button {
    cursor: pointer;
}

input, textarea{
    width: 100%;
    background-color: #242424;
    color: white;
    outline: none;
    border: 2px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 300ms ease;
}

textarea{
    resize: vertical;
    height: 100px;
    margin-top: 8px;
}

input:hover, textarea:hover{
    border-color: #dcdfe6;
}

input:focus, textarea:active{
    background-color: #242424;
    border-color: #7c3ee7;
}

label{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}

nav,
.about_me-info{
    opacity: 1;
    visibility: visible;
    transition: all 600ms 400ms;
}

.modal-open nav,
.modal-open .about_me-info{
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}

.dark-theme .about_me_info-title,
.dark-theme .about_me_info-para,
.dark-theme .nav_link-anchor,
.dark-theme .section_title,
.dark-theme .fa-linkedin,
.dark-theme .fa-github,
.dark-theme .fa-artstation,
.dark-theme .fa-file,
.dark-theme .fa-adjust{
    color: #f8f8f8;
}

.dark-theme .link_hover-effect-black:after{
    background-color: white;
}

.dark-theme .personal_logo{
    filter: invert(0);
}

.dark-theme section{
    background-color: #242424;
}

.dark-theme .mail_button{
    background-color: white;
    color: #242424;
}

/*NAVIGATION BAR*/

nav {
    height: 100px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.nav_link-list {
    display: flex;
}

.nav_link-anchor {
    margin: 0 12px;
    color: #242424;
    font-weight: 700;
}

.nav_link-anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav_link-anchor-primary:hover {
    background-color: #5d3eff;
}

.personal_logo {
    height: 60px;
    width: 75px;
    filter: invert(1);
}

.link_hover-effect {
    position: relative;
}

.link_hover-effect::after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 2px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
}

.link_hover-effect-black:after {
    background-color: #242424;
}

.link_hover-effect-white:after {
    background-color: #f8f8f8;
}

.link_hover-effect:hover:after {
    left: 0;
    width: 100%;
}

/*ABOUT ME*/

#about_me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about_me-info {
    display: flex;
    flex-direction: column;
}

.about_me_info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about_me_picture-mask {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    margin-top: 24px;
    margin-bottom: 28px;
    animation: animate_pfp 800ms 200ms backwards;
    /*delay of 200ms*/
}

@keyframes animate_pfp {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.about_me_picture {
    width: 100%;
    /*improving picture
    to zoom in, transform: scale(1.5)
    move the center to bottom padding-top: 8px*/
}

.about_me_info-title {
    font-size: 28px;
    margin-bottom: 16px;
    animation: fade_up 600ms 400ms backwards;
}

.about_me_info-para {
    font-size: 20px;
    margin-bottom: 28px;
    animation: fade_up 600ms 600ms backwards;
}

.about_me-link {
    font-size: 20px;
    color: #242424;
    text-decoration: none;
    padding: 0 16px;
}

.about_me-links {
    animation: fade_up 600ms 800ms backwards;
}

@keyframes fade_up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.about_me-img-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_me-img {
    width: 60%;
    height: 60%;
    padding-top: 28px;
    animation: fade_in 1200ms 800ms backwards;
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

i:hover {
    opacity: 0.85;
}

.mail_button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    border-radius: 50%;
    background-color: #242424;
    color: white;
    border: none;
    position: fixed;
    bottom: 32px;
    right: 40px;
    box-shadow: 0 12x 30px 0 rgba(0, 0, 0, 0.2);
    z-index: 100;
}

/* MODAL */

.modal-open .modal{
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.55);
    visibility: visible;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal_half{
    width: 50%;
    padding: 40px 72px;
    position: relative;
    transition: all 300ms ease-in;
}

.modal-open .modal_about,
.modal-open .modal_contact
{
    transform: translate(0%);
}

.modal_about{
    background-color: rgba(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-110%);
}

.modal_languages{
    display: flex;
    flex-wrap: wrap;
}

.modal_language{
    width: 23%;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;
}

.modal_language-image{
    width: 100%;
}

.modal_language:hover{
    filter: brightness(0.8);
    transform: scale(0.85);
}

.modal_language:hover .language_name{
    transform: scale(1);
}

.language_name{
    position: absolute;
    bottom: -14px;
    transform: scale(0);
    transition: all 300ms ease;
    width: 200%;
        text-align: center;
}

.modal_contact{
    background-color: #242424;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(110%);
}

.modal_title{
    font-size: 26px;
    text-align: left;
    font-weight: 700;
}

.modal_subtitle{
    margin: 12px 0 18px 0;
    text-align: left;
    font-size: 16px;
}

.modal_para-about{
    margin-bottom: 12px;
    line-height: 1.75;
}

.modal_title-contact, .modal_subtitle-contact{
    color: #f8f8f8;
}

.modal_subtitle-contact{
    font-weight: 500;
}

.form_item{
    margin-bottom: 20px;
}

.form_submit{
    background-color: #6030b1;
    border: 1px solid #7c3ee7;
    color: white;
    font-weight: bold;
    max-width: 240px;
    width: 100%;
    padding: 12px 24px;
    font-size: 20px
}

.form_submit:hover{
    border-color: #f8f8f8;
    background-color: transparent;
}

.form_submit:active{
    border-color: #6030b1;
    background-color: #6030b1;
}

.fa-spinner{
    color: white;
}

.modal_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    display: none;
}

.modal_overlay-loading{
    background-color: #242424;
    font-size: 40px;
}

.modal_overlay-success{
    background-color: #4bb543;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding: 24px;
}

.modal_overlay-visible{
    z-index: 100;
    display: flex;
}

.fa-spinner{
    animation: spinner 750ms infinite;
}

@keyframes spinner {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.modal_exit{
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 32px;
    z-index: 100;
}

/* TECHNOLOGY STACK */

/* .language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language_image {
    width: 100%;
    max-width: 80px;
    transition: all 300ms;
}

.language:hover .language_image {
    opacity: 0.9;
    transform: scale(0.9);
}

.language_image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.language_name {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
}

.language:hover .language_name {
    transform: scale(1);
} */

/*PROJECTS*/

.project {
    margin-bottom: 80px;
}

.project:last-child {
    margin-bottom: 40px;
}

.project_image {
    width: 100%;
    transition: all 500ms ease;
}

.project_wrapper {
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.project_wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    z-index: 3;
    transition: opacity 450ms ease;
}

.project:hover .project_wrapper::before {
    opacity: 0.7;
}

.project:hover .project_image {
    transform: scale(1.07);
    filter: blur(5px);
}

.project:hover .project_description {
    opacity: 1;
    transform: translateY(-50%);
}

.project_list {
    padding-top: 32px;
}

.project_description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
}

.project_description-title {
    font-size: 36px;
}

.project_description-para {
    margin: 16px 0;
}

.project_description-link {
    font-size: 20px;
    margin-right: 16px;
    text-decoration: none;
}

.project_description-sublink {
    color: #f8f8f8;
    text-decoration: underline;
}

.project_description-title,
.project_description-subtitle,
.project_description-para,
.project_description-link {
    text-align: left;
    color: #fff;
}


/*FOOTER*/

footer {
    background-color: #242424;
}

.footer_row {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_logo-image {
    width: 100px;
    height: 100px;
    transform: scale(1.2);
}

.footer_social-link,
.footer_logo-popper {
    color: #fff;
}

.footer_social-list {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
}

.footer_logo-popper {
    position: absolute;
    right: 0;
    top: 40px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
}

.footer_anchor {
    margin-bottom: 20px;
    position: relative;
}

.footer_anchor:hover .footer_logo-popper {
    transform: translateX(40px);
    opacity: 1;
}

@media (max-width: 768px) {
    nav {
        height: 68px;
        margin-bottom: 32px;
    }

    h1 {
        font-size: 28px;
    }

    .about_me_info-para {
        font-size: 18px;
    }

    .language {
        width: calc(100% / 3);
    }

    .project_description-para {
        font-size: 14px;
    }

    .project_description {
        left: 30px;
        padding-right: 30px;
    }
    .modal{
        top: 0;
        left: 0;
        transform: none;
        height: auto;
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0;
    }
    .modal_half{
        width: 100%;
    }
}

@media (max-width: 480px) {
    .nav_link:not(:last-child) {
        display: none;
    }

    .project_description {
        padding: 0;
        left: 0;
        width: 100%;
    }

    .project_description-para {
        display: none;
    }

    .project_description-links {
        display: flex;
        justify-content: center;
    }

    .project_description-title {
        font-size: 32px;
        line-height: 1;
        text-align: center;
    }

    .project_description-subtitle {
        text-align: center;
        margin: 12px 0;
    }
    .language_name{
        font-size: 14px;
    }
}